html,body{
    background-image: url(./assets/bg.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100vh;
    font-family: 'Numans', sans-serif;
    }

